In [1]:
from bs4 import BeautifulSoup
import requests
import time

In [2]:
from selenium import webdriver
import pandas as pd

In [7]:
url=("https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&ctcFilter=3to6")

In [8]:
driver = webdriver.Chrome('G:\\annaconda\\ankit\\chromedriver.exe')

In [9]:
driver.get(url)

In [10]:
soup=BeautifulSoup(driver.page_source,"html.parser")

In [11]:
job=[]
Discription=[]
Experinces=[]
Location=[]
salary=[]
for d in soup.findAll('article', attrs={'class':'jobTuple bgWhite br4 mb-8'}):
        p=d.find('a', attrs={'class':'title fw500 ellipsis'})
        job.append(p.text)
        pr=d.find('div', attrs={'class':'job-description fs12 grey-text'})
        Discription.append(pr.text)
        ra=d.find('span', attrs={'class':'ellipsis fleft fs12 lh16'})
        Experinces.append(ra.text)
        sr=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi location'})
        Location.append(sr.text)
        sl=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi salary'})
        salary.append(sl.text)

In [12]:
data=list(zip(job,Discription,Experinces,Location,salary))

In [13]:
import pandas as pd
df=pd.DataFrame(data,columns=["Jobs","Discription","Experinces","Location","salary"])

In [14]:
df.head(10)

,Jobs,Discription,Experinces,Location,salary
0,Data Scientist,Should have hired and nurtured talent and gro...,4-8 Yrs,Gurgaon Gurugram,Not disclosed
1,Only Fresher / Data Scientist / Data Analyst ...,Only Fresher Can Apply: Description 1>MS Offi...,0-0 Yrs,"Delhi NCR, Noida, Gurgaon","2,25,000 - 4,75,000 PA."
2,Data Scientist,Roles and ResponsibilitiesDIMENSION & SCOPETh...,5-6 Yrs,Gurgaon Gurugram,Not disclosed
3,Data Scientist,Bachelor degree Experience with common data s...,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Not disclosed
4,Data Scientist Machine Learning,Data Scientist Machine Learning Apply Descrip...,1-3 Yrs,Gurgaon,Not disclosed
5,Business Analyst - Data Scientist,BTech/ MCA/ MBA (IT) / M Sc (IT) / M Sc Maths...,3-5 Yrs,Gurgaon,Not disclosed
6,Analyst - Data Scientist,BTech/ MCA/ MBA (IT) / M Sc (IT) / M Sc Maths...,1-3 Yrs,Gurgaon,Not disclosed
7,Data Scientist,Bachelors / Masters in Mathematics / Computer...,6-8 Yrs,"Faridabad, Delhi NCR, Ghaziabad","5,00,000 - 8,00,000 PA."
8,Data Scientist,Some of the problem areas are Insights across...,3-7 Yrs,"Bengaluru, Gurgaon",Not disclosed
9,Senior Data Scientist,Senior Data Scientist We are inviting applica...,1-5 Yrs,Delhi,Not disclosed