In [1]:
!pip install selenium

Collecting selenium

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2EAF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E868>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E8F8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E7D8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/

  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in g:\annaconda\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
from bs4 import BeautifulSoup
import requests
import time

In [3]:
from selenium import webdriver
import pandas as pd

In [4]:
url=("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%2C%20data%20analyst&l=bangalore")

In [5]:
driver = webdriver.Chrome('G:\\annaconda\\ankit\\chromedriver.exe')

In [6]:
driver.get(url)

In [7]:
soup=BeautifulSoup(driver.page_source,"html.parser")

In [12]:
job=[]
Discription=[]
Experinces=[]
Location=[]
salary=[]
for d in soup.findAll('article', attrs={'class':'jobTuple bgWhite br4 mb-8'}):
        p=d.find('a', attrs={'class':'title fw500 ellipsis'})
        job.append(p.text)
        pr=d.find('div', attrs={'class':'job-description fs12 grey-text'})
        Discription.append(pr.text)
        ra=d.find('span', attrs={'class':'ellipsis fleft fs12 lh16'})
        Experinces.append(ra.text)
        sr=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi location'})
        Location.append(sr.text)
        sl=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi salary'})
        salary.append(sl.text)

In [13]:
data=list(zip(job,Discription,Experinces,Location,salary))

In [14]:
import pandas as pd
df=pd.DataFrame(data,columns=["Jobs","Discription","Experinces","Location","salary"])

In [15]:
df.head(10)

,Jobs,Discription,Experinces,Location,salary
0,Data Modeler Analyst,Urgent Requirement for Data Modeler AnalystEx...,6-8 Yrs,"Bengaluru, Hyderabad",Not disclosed
1,Data Analyst,Bachelor s degree in Management of Informatio...,3-6 Yrs,Bengaluru(2nd Phase JP Nagar),"6,00,000 - 10,00,000 PA."
2,Data Analyst,The candidate should be able to apply busines...,8-9 Yrs,Bengaluru,Not disclosed
3,Data Analyst,The role is a mixture of Business and Data An...,3-8 Yrs,Bengaluru,Not disclosed
4,Looking For Rockstar Data Analyst @ Freshtohom...,What we are looking for : Strong problem solv...,2-5 Yrs,Bengaluru,Not disclosed
5,Hiring Data Analysts on Contract,Hiring Data Analyst profile on the third-part...,2-5 Yrs,Bengaluru,"3,00,000 - 6,00,000 PA."
6,Senior Data Analyst,Roles and Responsibilities Description - Exte...,2-5 Yrs,Bengaluru / Bangalore,Not disclosed
7,Senior Data Analyst,Roles and ResponsibilitiesSenior Data Analyst...,3-5 Yrs,Bengaluru,Not disclosed
8,Data Analyst,The role is a mixture of Business and Data An...,3-8 Yrs,Bengaluru,Not disclosed
9,Data Analyst\n,Knowledge of statistics and experience using ...,3-5 Yrs,Bengaluru,"4,00,000 - 7,00,000 PA."