In [1]:
!pip install selenium

Collecting selenium

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2EAF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E868>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E8F8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E7D8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/

  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in g:\annaconda\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [12]:
from bs4 import BeautifulSoup
import requests
import time

In [13]:
from selenium import webdriver
import pandas as pd

In [14]:
url=("https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore")

In [15]:
driver = webdriver.Chrome('G:\\annaconda\\ankit\\chromedriver.exe')

In [16]:
driver.get(url)

In [17]:
soup=BeautifulSoup(driver.page_source,"html.parser")

In [24]:
job=[]
Discription=[]
Experinces=[]
Location=[]
salary=[]
for d in soup.findAll('article', attrs={'class':'jobTuple bgWhite br4 mb-8'}):
        p=d.find('a', attrs={'class':'title fw500 ellipsis'})
        job.append(p.text)
        pr=d.find('div', attrs={'class':'job-description fs12 grey-text'})
        Discription.append(pr.text)
        ra=d.find('span', attrs={'class':'ellipsis fleft fs12 lh16'})
        Experinces.append(ra.text)
        sr=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi location'})
        Location.append(sr.text)
        sl=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi salary'})
        salary.append(sl.text)

In [25]:
soup.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi salary'}).text

'3,00,000 - 4,25,000 PA.'

In [26]:
data=list(zip(job,Discription,Experinces,Location,salary))

In [27]:
import pandas as pd
df=pd.DataFrame(data,columns=["Jobs","Discription","Experinces","Location","salary"])

In [28]:
df.head(10)

,Jobs,Discription,Experinces,Location,salary
0,Data Scientist/Data Analyst-immediate,In case you are trying to shift your career t...,1-2 Yrs,"Chennai, Pune, Bengaluru, Hyderabad","3,00,000 - 4,25,000 PA."
1,Data Scientist - Python/ MATLAB/ Machine Learn...,"BS / MS/PhD in Computer Science, Statistics, ...",3-8 Yrs,Bengaluru,Not disclosed
2,Lead Data Scientist - Machine Learning/ Data M...,"BS/ MS/ PhD in Computer Science, Statistics, ...",6-11 Yrs,Bengaluru,Not disclosed
3,Data Scientist - Machine Learning (Commerce BU),Experience working with some of the following...,2-7 Yrs,Bengaluru,Not disclosed
4,Data Scientist,Working experience in Artificial Intelligence...,12-18 Yrs,"Chennai, Pune, Mumbai, Bengaluru",Not disclosed
5,Opening For Sr. Data Scientist @ Tech Mahindra,"BE or MS or PhD degree in Computer Science, A...",12-20 Yrs,"Pune, Bengaluru",Not disclosed
6,Opening For Sr. Data Scientist @ Tech Mahindra,Role Sr. Data ScientistExp. 12 â€“ 20 yearsLoca...,12-20 Yrs,"Pune, Bengaluru",Not disclosed
7,Senior Data Scientist - NLP/ Python/ R,Experience with application development pract...,4-9 Yrs,"Bengaluru, Hyderabad",Not disclosed
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,Logical and Analytical skills must be really ...,2-7 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...","7,00,000 - 15,00,000 PA."
9,Sr Data Scientist,Graduate/ Post GraduateDevelop a strong rappo...,4-9 Yrs,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata","6,00,000 - 16,00,000 PA."

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Jobs         20 non-null     object
 1   Discription  20 non-null     object
 2   Experinces   20 non-null     object
 3   Location     20 non-null     object
 4   salary       20 non-null     object
dtypes: object(5)
memory usage: 464.0+ bytes