In [1]:
from bs4 import BeautifulSoup
import requests

amazon_text=("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=671e01a1-7fd8-4908-ac71-594d0f990ea6&as-backfill=on&page=")

In [2]:
Brand=[]
Description=[]
Price=[]
Discount=[]
for page in range(1,10):
    page=1
    req=requests.get(amazon_text+str(page))
    soup=BeautifulSoup(req.text,"lxml")
    for d in soup.findAll('div', attrs={'class':'_2B099V'}):
        p=d.find('div', attrs={'class':'_2WkVRV'})
        Brand.append(p)
        pr=d.find('a', attrs={'class':'IRpwTa'})
        Description.append(pr)
        ra=d.find('div', attrs={'class':'_30jeq3'})
        Price.append(ra)
        sr=d.find('div', attrs={'class':'_3Ay6Sb'})
        Discount.append(sr)

In [3]:
#soup.find_all('div', attrs={'class':'_1xHGtK _373qXS'})

In [4]:
#soup.find("div",attrs={"class":"_2B099V"})

In [5]:


#soup.find_all("div",attrs={"class":"_2WkVRV"})

In [6]:
#soup.find_all("div",attrs={"class":"_3Ay6Sb"})

In [7]:
#soup.find_all("div",attrs={"class":"_30jeq3"})

In [8]:
data=list(zip(Brand,Description,Price,Discount))

In [9]:
import pandas as pd
df=pd.DataFrame(data,columns=["Brand","Discription","Price","Discount"])

In [10]:
df.head(100)

,Brand,Discription,Price,Discount
0,[kingsunglasses],"[UV Protection, Mirrored Round Sunglasses (54)]",[₹197],[[83% off]]
1,[kingsunglasses],"[Mirrored, UV Protection Wayfarer, Wayfarer, W...",[₹284],[[81% off]]
2,[Fastrack],"[Gradient, UV Protection Wayfarer Sunglasses (...",[₹499],[[37% off]]
3,[Fastrack],[UV Protection Wayfarer Sunglasses (56)],[₹599],[[33% off]]
4,[Fastrack],"[Mirrored, UV Protection Wayfarer Sunglasses (...",[₹549],[[45% off]]
...,...,...,...,...
95,[Royal Son],[UV Protection Wayfarer Sunglasses (55)],[₹242],[[81% off]]
96,[PIRASO],[UV Protection Aviator Sunglasses (54)],[₹225],[[85% off]]
97,[PIRASO],[UV Protection Aviator Sunglasses (54)],[₹225],[[85% off]]
98,[Gansta],[UV Protection Aviator Sunglasses (57)],[₹284],[[85% off]]
99,[Aislin],"[UV Protection, Others Rectangular, Wrap-aroun...","[₹1,096]",[[70% off]]