In [48]:
from bs4 import BeautifulSoup
import requests
import time

In [49]:
from selenium import webdriver
import pandas as pd

In [50]:
url=("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")

In [51]:
driver = webdriver.Chrome('G:\\annaconda\\ankit\\chromedriver.exe')

In [52]:
driver.get(url)

In [53]:
soup=BeautifulSoup(driver.page_source,"html.parser")

In [54]:
job=[]
Company=[]
Discription=[]
for d in soup.findAll('div', attrs={'class':'row no-gutters mx-0 py align-items-center css-1u4lhyp'}):
        p=d.find('p', attrs={'class':'m-0 '})
        job.append(p)
        pr=d.find('div', attrs={'class':'col-2 d-none d-md-flex flex-row justify-content-end'})
        Company.append(pr.text)
        ra=d.find('p', attrs={'class':'d-block d-md-none m-0 css-1kuy7z7'}).text
        Discription.append(ra)

In [55]:
soup.find_all('p', attrs={'class':'m-0 '})

[]

In [56]:
data=list(zip(job,Company,Discription))

In [57]:
import pandas as pd
df=pd.DataFrame(data,columns=["Jobs","Company","Discription"])

In [58]:
df.head(10)

   Jobs         Company              Discription
0  None  ₹ 12,64,182/yr  Range: ₹450K - ₹11,630K
1  None   ₹ 7,30,968/yr   Range: ₹350K - ₹1,614K
2  None   ₹ 6,00,000/yr   Range: ₹336K - ₹1,010K
3  None   ₹ 9,94,055/yr   Range: ₹577K - ₹2,215K
4  None   ₹ 7,39,040/yr   Range: ₹587K - ₹2,732K
5  None  ₹ 13,37,114/yr   Range: ₹717K - ₹1,575K
6  None   ₹ 7,80,374/yr   Range: ₹502K - ₹1,152K
7  None  ₹ 11,98,792/yr   Range: ₹621K - ₹1,696K
8  None  ₹ 10,08,143/yr   Range: ₹793K - ₹1,264K
9  None  ₹ 11,34,989/yr   Range: ₹576K - ₹1,500K