In [20]:
from bs4 import BeautifulSoup
import requests
import time

In [21]:
from selenium import webdriver
import pandas as pd

In [22]:
url=("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")

In [23]:
driver = webdriver.Chrome('G:\\annaconda\\ankit\\chromedriver.exe')

In [24]:
driver.get(url)

In [25]:
soup=BeautifulSoup(driver.page_source,"html.parser")

In [27]:
job=[]
Company=[]
Discription=[]
for d in soup.findAll('div', attrs={'class':'d-flex flex-column pl-sm css-1d3xmk8 e1rrn5ka4'}):
        p=d.find('a', attrs={'class':'jobLink css-1rd3saf eigr9kq2'})
        job.append(p.text)
        pr=d.find('div', attrs={'class':'d-flex justify-content-between align-items-start'})
        Company.append(pr.text)
        ra=d.find('div', attrs={'class':'minor descSnippet css-qb0akw'})
        Discription.append(ra.text)

In [28]:
data=list(zip(job,Company,Discription))

In [29]:
import pandas as pd
df=pd.DataFrame(data,columns=["Jobs","Company","Discription"])

In [30]:
df.head(10)

,Jobs,Company,Discription
0,Data Scientist,Bloom AI,Ability to communicate complex data science to...
1,Data Scientist,Adobe,We need an experienced Data Scientist who can ...
2,Data Scientist,Biz2Credit Inc,"As a Biz2Credit Data Scientist, you will shape..."
3,Data Scientist,Emerging India Group,We are looking for a data scientist with an ex...
4,Data Scientist,Salasar New Age Technologies,Hiring Data Scientists with 1-3 year of experi...
5,Data Scientist,WishFin,Integrates advanced analytics into end-to-end ...
6,Data Scientist,Techlive,Co-relationship models ARIMA Exponential Movin...
7,Data Scientist Intern,Salasar New Age Technologies,Hiring interns with a tremendous desire to lea...
8,Data Scientist 2,Microsoft,Do you like working with big data for one of t...
9,Data Scientist,Mahindra Comviva,"With 55 awards in three years, near monopoly i..."