In [1]:
!pip install selenium

Collecting selenium

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2EAF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E868>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E8F8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x04B2E7D8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/selenium/

  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in g:\annaconda\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [1]:
from bs4 import BeautifulSoup
import requests
import time

In [2]:
from selenium import webdriver
import pandas as pd

In [3]:
url=("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%2C%20data%20analyst&l=bangalore")

In [4]:
driver = webdriver.Chrome('G:\\annaconda\\ankit\\chromedriver.exe')

In [5]:
driver.get(url)

In [6]:
soup=BeautifulSoup(driver.page_source,"html.parser")

In [31]:
job=[]
Discription=[]
Price=[]
Discount=[]
for d in soup.findAll('article', attrs={'class':'jobTuple bgWhite br4 mb-8'}):
        p=d.find('a', attrs={'class':'title fw500 ellipsis'})
        job.append(p.text)
        pr=d.find('div', attrs={'class':'job-description fs12 grey-text'})
        Discription.append(pr)
        ra=d.find('span', attrs={'class':'ellipsis fleft fs12 lh16'})
        Price.append(ra)
        sr=d.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi location'})
        Discount.append(sr.text)

In [32]:
data=list(zip(job,Discription,Price,Discount))

In [33]:
import pandas as pd
df=pd.DataFrame(data,columns=["Jobs","Discription","Salary","Location"])

In [35]:
df.head(10)

,Jobs,Discription,Salary,Location
0,Data Modeler Analyst,"[[], Urgent Requirement for Data Modeler Anal...",[6-8 Yrs],"Bengaluru, Hyderabad"
1,Data Analyst,"[[], Bachelor s degree in Management of Infor...",[3-6 Yrs],Bengaluru(2nd Phase JP Nagar)
2,Data Analyst,"[[], Roles and Responsibilities The Data Anal...",[5-8 Yrs],Bengaluru
3,Data Analyst,"[[], The candidate should be able to apply bu...",[8-9 Yrs],Bengaluru
4,Data Analyst,"[[], The role is a mixture of Business and Da...",[3-8 Yrs],Bengaluru
5,Looking For Rockstar Data Analyst @ Freshtohom...,"[[], What we are looking for : Strong problem...",[2-5 Yrs],Bengaluru
6,Hiring Data Analysts on Contract,"[[], Hiring Data Analyst profile on the third...",[2-5 Yrs],Bengaluru
7,Senior Data Analyst,"[[], Roles and Responsibilities Description -...",[2-5 Yrs],Bengaluru / Bangalore
8,Senior Data Analyst,"[[], Roles and ResponsibilitiesSenior Data An...",[3-5 Yrs],Bengaluru
9,Data Analyst,"[[], The role is a mixture of Business and Da...",[3-8 Yrs],Bengaluru

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Jobs         20 non-null     object
 1   Discription  20 non-null     object
 2   Salary       20 non-null     object
 3   Location     20 non-null     object
dtypes: object(4)
memory usage: 384.0+ bytes